Windows Services
managing code repositories, deployments, and life cycle management via JIRA
Version control using GIT and TFS.
UNIT Tests
capable of designing and implementing high performance, high volume commercial ASP.NET applications
Postman 
Microsoft IIS


git remote add origin https://ankitjpatel2007@dev.azure.com/ankitjpatel2007/SS-React/_git/SS-React
git remote set-url origin https://ankitjpatel2007@dev.azure.com/ankitjpatel2007/SS-React/_git/SS-React
git push -u origin --all
