table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.mainContainer{
    padding: 20px;
}
.sqlTextContainer{
    padding: 40px;
}
.linqTextContainer{
    padding-left: 200px;
    padding-top:20px;
}
.tabContainer{
    padding-left: 20px;
    padding-right: 20px;
    font-style: oblique;
}

   .pageHeader{            
            text-align: center;
            vertical-align: middle;
            margin-top: 20px;            
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border: 2px solid blueviolet;
            border-radius: 10px;
            background-color: lightseagreen;
            color:black;
            font-size: x-large;            
    }
