<div fxLayout="row wrap"  fxLayout.lg="row " fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">

    <div fxFlex="10%">
    </div>
    <div fxFlex="80%">
        <div class="pageHeader">
            Home
        </div>
        <p></p>

        <div>
            <mat-tab-group>
                <mat-tab label="Personal Info">
                    <div class="personalContainer">
                        <div>
                            Enter your Personal Information
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Technical Skills">
                    <div class="skillsContainer">
                        <div>
                            Enter your Technical Skills
                        </div>                      
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
