<div class="applyToJobForm-container">
    <div class="form-container">
        <div fxLayout="row wrap" fxLayoutGap="16px">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1]">
                <h1>Home</h1>
                <div>
                    <ul>
                        <li>User can Apply-To-Job</li>
                        <li>User can Filter Applied Jobs on various criterias</li>
                        <li>User can Follow-Up Applied Jobs</li>
                        <li>Edit any details when Follow-Up Applied Jobs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>