    .parent {height:100%;}
    /*
    .left {
        
    }
    */
   


    .mainContentLeft{
    
        padding: 10px;
    }    
    .mainContentRight{
     
        padding: 10px;
    }

    mat-form-field {
  width: 100%;
}
