<!-- 
<mat-toolbar color="primary">
    <span>Angular Material Tutorial</span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>About</button>
    <button mat-menu-item>Contact</button>
</mat-menu>
-->

<mat-toolbar color="primary">
    <span>Patient Tracking</span>

    <button mat-button>
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-button>
        <mat-icon>emoji_people</mat-icon>
        Reception
    </button>
    <button mat-button>
        <mat-icon>how_to_reg</mat-icon>
        Registration
    </button>
    <button mat-button>
        <mat-icon>contacts</mat-icon>
        Patient List
    </button>
    <button mat-button>
        <mat-icon>people</mat-icon>
        Multi-Station
    </button>
</mat-toolbar>
